* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(even) {
    background-color: #f2f2f2f2;
}

section:nth-child(odd) {
    background-color: #ffffff;
}

.box {
    background: #dddddd;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #28282828;
}