* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(even) {
    background-color: #ddd;
}

section:nth-child(odd) {
    background-color: #bbb;
}

.progress {
    background-color: #ffffff;
    width: 500px;
    height: 30px;
    margin: 10px;
    position: relative;
}

.progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: dodgerblue;
    transition: width .3s linear;
}